
 <article class="post">
   {{#each posts}}
      <div class="title">
        {{title}}
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
        <span>{{post_content}}</span>
      </div>
      <div class="meta">
        posted by {{user.username}} on
        {{format_date createdAt}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
      {{/each}}
        <a href="/dashboard/new"> New Post</a>
</article>
{{!-- <script src="/js/comment.js"></script> --}}